.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.search-box input {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #ccc;
  outline: none;
}

.btn {
  background: linear-gradient(to right, #2196f3, #6ec6ff);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background: #0d47a1;
  box-shadow: 0px 4px 10px rgba(33, 150, 243, 0.4);
}
